<ion-header>
  <ion-navbar>
    <ion-title>documents</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <div class="container" padding>

    <h1 style="color:#000000;" class="padding-left">Study: {{selectedStudy.name}}</h1>
    <h3 style="color:#000000;" class="padding-left">PID: {{pid}}</h3>
  </div>

  <ion-segment [(ngModel)]="selectedFormID" (ionChange)="showCurrentForm()">
    <ion-segment-button  *ngFor="let form of selectedForms"  value="{{form.form_id}}">
      <ion-label>{{form.form_title}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div style="background-color: whitesmoke" align="center">


    <!--&lt;!&ndash;<div style="background-color: whitesmoke">&ndash;&gt;-->
    <!--<ion-slides #studySlides (ionSlideDidChange)="showCurrentForms()" pager="true">-->
      <!--<ion-slide *ngFor="let form of selectedForms">-->
      <!---->
        <!---->
        <!---->
        <!---->
      <!--</ion-slide>-->
    <!--</ion-slides>-->
    <!--</div>-->


    <!--start of document page-->
    <div id="doc-page" #docPage style="background-color: white" text-left="">

      <div class="grey padding">
        <div class="padding margin white">

          <ion-row>
            <ion-col>
              <img class="logo_header" src="assets/imgs/gosh_logo.gif" alt="Image Not found">
            </ion-col>
          </ion-row>
          <h1 *ngIf="selectedForm !== undefined" margin-top="0" align="center">{{selectedForm.form_title}}</h1>
          <br>

          <div *ngFor="let section of selectedFormHTML">

            <div ngSwitch="{{section.type_id}}">

              <sig-block *ngSwitchCase="'<ca'"></sig-block>
              <smiley-block *ngSwitchCase="'<bu'"></smiley-block>
              <div *ngSwitchCase="'<p>'"><div [innerHTML]="section.html_display"></div></div>
              <ion-item *ngSwitchCase="'<di'"><ion-label>{{section.section_text}}</ion-label><ion-checkbox></ion-checkbox></ion-item>

            </div>

          </div>



          <!--<sig-block></sig-block>-->

          <!--<sig-block></sig-block>-->


          <!--&lt;!&ndash;Toggle&ndash;&gt;-->
          <!--<ion-item>-->
            <!--<ion-label>Click the toggle if you agree to x ...</ion-label>-->
            <!--<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>-->
          <!--</ion-item>-->

          <!--&lt;!&ndash;Paragraph&ndash;&gt;-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
            <!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco-->
            <!--laboris nisi ut aliquip ex ea commodo consequat. Duis aute-->
            <!--irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur-->
            <!--sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
          <!--</p>-->

          <!--&lt;!&ndash;Input&ndash;&gt;-->
          <!--<ion-item>-->
            <!--<ion-label position="fixed">Enter something</ion-label>-->
            <!--<ion-input></ion-input>-->
          <!--</ion-item>-->

          <!--&lt;!&ndash;Button&ndash;&gt;-->
          <!--<smiley-block></smiley-block>-->

          <!--<smiley-block></smiley-block>-->

        </div>
      </div>
    </div>
  </div>

  <div class="container" padding>


    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="email" name="email"></ion-input>
    </ion-item>


    <h2>The PID is: AB101001</h2>
    <h3 style="color:#BD0000;">Please note this down before clicking the below button</h3>
    <div class="spacer" style="width: 728px; height: 12px;"></div>

    <form>
      <button (click)="getDocImage()" ion-button color="primary" large block><h1>Submit All Forms and Email confirmation</h1></button>
    </form>

    <div class="my-inline-block" align-items-center>
      <button ion-button color="danger">Go back</button>
      <h3> Note: you will lose you're currently inputted data</h3>
    </div>


  </div>

  <ion-row>
    <ion-col width-80>
      <img [src]="imgDataURL"/>
    </ion-col>
  </ion-row>


</ion-content>
