<ion-header>
  <ion-navbar>
    <ion-title>documents</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <div class="container" padding-horizontal>
<ion-row>
<ion-col>
  <h1 style="color:#000000;" class="padding-left">Study: {{selectedStudy.name}}</h1>
  <h3 style="color:#000000;" class="padding-left">PID: <span style="color: red;">{{pid}}</span></h3>
</ion-col>
  <ion-col>
    <button (click)="changeStudyForms()" float-right ion-button color="primary">Change Study or Forms</button>
  </ion-col>
</ion-row>
  </div>

  <!--<ion-segment [(ngModel)]="selectedFormID" (ionChange)="showCurrentForm()">-->
    <!--<ion-segment-button  *ngFor="let form of selectedForms"  value="{{form.form_id}}">-->
      <!--<ion-label>{{form.form_title}}</ion-label>-->
    <!--</ion-segment-button>-->
  <!--</ion-segment>-->

  <div style="background-color: whitesmoke" align="center">


    <!--<div style="background-color: whitesmoke">-->
    <!--(ionSlideDidChange)="showCurrentForms()"-->
    <ion-slides #studySlides pager="true" >
      <ion-slide *ngFor="let form of studyDataService.forms_with_html">

        <!--start of document page-->
        <div id="doc-page" #docPage style="background-color: white" text-left="">

          <div class="grey padding">
            <div class="padding margin white">

              <ion-row>
                <ion-col>
                  <h3 style="color:#000000;" class="padding-left">PID: <span style="color: red;">{{pid}}</span></h3>
                </ion-col>

                <ion-col>
                  <img width='120' class="logo_header" src="assets/imgs/gosh_logo.gif" alt="Image Not found">
                </ion-col>
              </ion-row>

              <!--<h1 *ngIf="selectedForm !== undefined" margin-top="0" align="center">{{selectedForm.form_title}}</h1>-->
              <h1 margin-top="0" align="center">{{form.form_title}}</h1>
              <br>

              <div *ngFor="let section of form.formHTML">

                <div ngSwitch="{{section.type_id}}">

                  <sig-block (touchstart)="disableSwiping()" (touchend)="enableSwiping()" *ngSwitchCase="'<ca'"></sig-block>
                  <smiley-block *ngSwitchCase="'<bu'"></smiley-block>
                  <div *ngSwitchCase="'<p>'"><div [innerHTML]="section.html_display"></div></div>
                  <ion-item *ngSwitchCase="'<di'"><ion-label>{{section.section_text}}</ion-label><ion-checkbox></ion-checkbox></ion-item>

                </div>

              </div>

            </div>
          </div>
        </div>



      </ion-slide>
    </ion-slides>






  </div>

  <div class="container" padding>


    <form>
    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <ion-item class="consent_input">
            <ion-label position="floating"><h1>Email:</h1></ion-label>
            <ion-input type="email" name="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <button (click)="sendEmail()" ion-button color="primary" block><h2>Send</h2></button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>





    <h2>The PID is: {{pid}}</h2>
    <h3 style="color:#BD0000;">Please note this down before clicking the below button</h3>
    <div class="spacer" style="width: 728px; height: 12px;"></div>

    <form>
      <button (click)="getDocImage()" ion-button color="primary" large block><h1>Submit All Forms</h1></button>
    </form>

    <!--<div class="my-inline-block" align-items-center>-->
      <!--<button ion-button color="danger">Go back</button>-->
      <!--<h3> Note: you will lose you're currently inputted data</h3>-->
    <!--</div>-->


  </div>

  <ion-row>

    <ion-col *ngFor="let image of imgDataURLList" width-80>
      <img [src]="image"/>
    </ion-col>
  </ion-row>


</ion-content>
