<ion-header>
  <ion-navbar hideBackButton>

    <ion-title>
      Choose Study and Forms
    </ion-title>

    <ion-buttons end>
      <button ion-button color="primary" (click)="LogOut()">Log Out</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>

  <!--<div class="row" padding>-->
    <!--<div class="col">-->
      <h1 padding>Choose study and related forms </h1>



  <ion-item>
    <ion-label>Choose Study</ion-label>
    <ion-select [(ngModel)]="selectedStudyId" (ngModelChange)="onStudySelection(); checkAnySelectedForms()">
      <ion-option *ngFor="let study of studyDataService.studies" value="{{study.id}}" >{{study.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="selectedStudyId !== -1">
    <ion-item *ngFor="let form of selectedStudy.forms" >
      <ion-label>{{form.form_title}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="form.selected" (ngModelChange)="checkAnySelectedForms(); checkAnySelectedForms()"></ion-checkbox>
    </ion-item>
  </ion-list>


    <div class="spacer" style="width: 748.333px; height: 0;"></div>

  <div padding>


    <ion-grid>
      <div *ngFor="let form of selectedStudyId.forms">
        <ion-row>
            <div align="center">
              <img src="https://s3.amazonaws.com/ionic-io-static/VEIXY0urS2u1KhorXUX1_text-document_318-48568.jpg" style=" width: 75%; height: 75%; margin-left: auto; margin-right: auto;" alt="Can't display image">
            </div>
            <div text-center="">
              <h4>{{form.form_title}}</h4>
            </div>
        </ion-row>
      </div>
    </ion-grid>




  <form (submit)="openDocumentsPage()">
    <ion-row>
      <!--<ion-col>-->
        <!--<button  ion-button outline color="primary" large block>Read</button>-->
      <!--</ion-col>-->
      <ion-col>
        <button ion-button color="primary" [disabled]="!anySelectedForms" large  block>Show Documents</button>
      </ion-col>
    </ion-row>
  </form>
  </div>

</ion-content>
