<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Choose Study and Forms
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div class="row" padding>
    <div class="col">
      <h1>Which study? </h1>
    </div>
    <div class="col" align="right">
      <form (submit)="LogOut()">
        <button ion-button color="primary">
          Log out
        </button>
      </form>
    </div>
  </div>

  <div style="background-color: whitesmoke">
  <ion-slides #studySlides (ionSlideDidChange)="showCurrentForms()" pager="true">
    <!--<ion-slide *ngFor="let study of studiesService.studies">-->
    <ion-slide *ngFor="let study of studyDataService.studies">
      <div class="swiper-button-prev"></div>
      <ion-card>
        <ion-card-header>
          <ion-card-title text-wrap style="font-size:50px">{{study.study_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content text-justify="">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.
        </ion-card-content>
      </ion-card>
      <div class="swiper-button-next"></div>
    </ion-slide>
  </ion-slides>
  </div>

    <div class="spacer" style="width: 748.333px; height: 0px;"></div>

  <div padding>


    <h1>Which documents?</h1>

  <ion-grid>
    <div *ngFor="let formRow of studyDataService.formsView">
      <ion-row>
      <ion-col *ngFor="let form of formRow" col-3>
        <div align="center">
          <img src="https://s3.amazonaws.com/ionic-io-static/VEIXY0urS2u1KhorXUX1_text-document_318-48568.jpg" style=" width: 75%; height: 75%; margin-left: auto; margin-right: auto;">
        </div>
        <div text-center="">
          <h4>{{form.name}}</h4>
        </div>
      </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <h1>Send read-only copy of these documents via email:</h1>

  <form (submit)="sendEmail()">
    <ion-row>
      <ion-col col-8>
        <ion-item>
          <ion-label position="floating">Email: </ion-label>
          <ion-input type="email" [(ngModel)]="documentEmail" name="email" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" large  block>Send</button>
      </ion-col>
    </ion-row>
  </form>

  <h1>Show these documents to:</h1>

  <form (submit)="openDocumentsPage()">
    <ion-row>
      <ion-col>
        <button  ion-button outline color="primary" large block>Read</button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" large  block>Fill Out</button>
      </ion-col>
    </ion-row>
  </form>
  </div>





